
.header{
    .header-inner{
        width:1000px;
        height: 100px;
        margin:0 auto;
        position: relative;
        .logo-left{
            width: 125px;
            height: 100px;
            a{
                background-image: url("../img/jingling.png");
                background-position: -308px -57px;
                width: 125px;
                height: 100px;
                display: inline-block;
                vertical-align: top;
                line-height: 500px;
                overflow: hidden;
            }
        }
        .logo-right{
            background-image: url(../img/jingling.png);
            background-position: 0 0;
            width: 304px;
            height: 100px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }
}
.contentbox{
    background-image: url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 650px;
    .content{
        width: 1000px;
        margin: 0 auto;
        position: relative;
        .login{
            background: white;
            width: 360px;
            float: right;
            top: 50px;
            right: 0;
            position: absolute;
            .login-head{
                width: 360px;
                height: 51px;
                div:first-child::after{
                    position: absolute;
                    top: 15px;
                    right: 0;
                    z-index: 1;
                    width: 1px;
                    height: 20px;
                    background-color: #ccc;
                    content: '';
                    font-size: 0;
                    line-height: 0;
                }
                div{
                    position: relative;
                    text-align: center;
                    line-height: 51px;
                    width: 180px;
                    font-size: 18px;
                    border-bottom:1px solid #e0e0e0 ;
                    cursor: pointer;
                }
            }
            .login-body{
                width: 300px;
                margin: 0 auto;
                margin-top: 30px;
                form{
                    input{
                        width: 300px;
                        height: 46px;
                    }
                    .t-tip,.p-tip{
                        height: 30px;
                    }
                    .form-item{
                        height: 35px;
                        a:last-child{
                            float: right;
                        }
                    }
                }
            }
            .login-foot{
                width: 300px;
                margin: 0 auto;
                margin-top: 30px;
                div{
                    text-align: center;
                    position: relative;
                    div{
                        border-bottom:1px solid #e0e0e0;
                        position: absolute;
                        width: 300px;
                        top: 20px;
                    }
                    a{
                        background-image: url(../img/jingling.png);
                        background-position: -580px -161px;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        position: relative;
                        z-index: 3;
                    }
                }
                p{
                    margin-top: 15px;
                    padding-bottom: 15px;
                    a{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
.footer{
    p{
        text-align: center;
        margin-top: 50px;
        color: #666;
        font-size: 12px;
    }
}